* {
    border-radius: 0px;
}


body {
    background-color: #ebeef2;
}



.navbar-nav li {
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    line-height: 0;
    margin-left: 1em;
    padding-left: 1em;
}

#db {
    border-bottom: 5px;
}


/* Adjust as needed */
.navbar-small {
    /* padding-right: 165px; */
    margin-right: 58px;
}

#navbarSupportedContent {
    display: inline;
}


.btncanvas {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;

    float: right;
    margin-top: -49px;
    margin-right: 10px;

}


.form-control {
    border-radius: 1px;
}

/* card css here */

#cbr {
    border-radius: 0px;


}

.card-img-top {
    border-radius: 0px;
    

}

/* .featured{
    transform: scale(1.0);
} */

#trans:hover{
    transform: scale(1.1);
    
}
#box {
    padding: 3em;
}

.avatar {
    border-radius: 100%;
    display: block;
    float: right;
    margin-top: -65px;
    margin-right: 17px;

}

.avatarArt {
    border-radius: 100%;
    display: block;
    float: right;
    margin-top: -65px;
    margin-right: 17px;
}


.post {
    padding: 3em 3em 1em 3em;
    background: #ffffff;
    border: solid 1px rgba(160, 160, 160, 0.3);
    margin: -66em 0px 25em 316px;
    position: relative;
    display: block;
}

.postright {
    margin-top: 1px;
    display: block;
    float: top;

}

a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
    color: inherit;
}

.post p {
    color: gray;
}

#grayb {
    color: gray;
}

.name {
    color: gray;
}

.avatar2 {
    border-radius: 100%;
}

.btn {
    border-radius: 0%;
    border-color: lightgrey;
}

.pic {
    margin: -23em 0px 25em 317px;

}

.pic2 {
    margin: 5em 0px 25em 317px;
}

.card {
    border-radius: 0px;
    margin-right: 2em;
}

#basic-addon1 {
    border-radius: 0px;
}

/* next page code here */
#singlepic {
    margin: 3em 0px 25em 225px;
    justify-content: center;
}

#singlecardid {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}